@media all and (min-width: 1025px) {

    #button:hover {
        height: 28px;
        border-radius: 30px;
        font-size: 12px;
        padding: 5px 23px;
    }

    .box-nav-bar span:hover {
        color: white;
    }

    .item-box span:hover {
        color: white;
        font-weight: bold;
    }

    .list-new-playlist span:hover {
        color: white;
        font-weight: bold;
    }

    .fa-heart:hover {
        color: white;
    }

    .fa-folder:hover {
        color: white;
    }

    .fa-circle-play:hover {
        font-size: 30px;
    }

    .hover-container:hover .hover-play {
        transform: scale(1);
    }
}