@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
}

/***********************************************************
MOBILE FIRST                       
***********************************************************/
#main {
    display: flex
}

.mobile-nav {
    height: 90vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*DEBUG*/
    background: black;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    gap: 10px;
    align-content: center;
}

.img-mobile {
    width: 30px;
}

.img-mobile-download {
    width: 20px;
}

.img-mobile-nav {
    background-color: gray;
    border-radius: 50px;
    padding: 3px 5px;
    width: 30px;
}

.desktop-nav {
    display: none;
}

.content {
    height: 90vh;
    width: 88vw;
    background: #141922;
}

.banner {
    height: 10vh;
    width: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: flex-end;

}

#button {
    height: 25px;
    border-radius: 20px;
    font-size: 10px;
    padding: 4px 20px;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.box-nav-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    gap: 16px;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

section.multimedia-content {
    width: 88vw;
    height: 71vh;
    overflow-y: scroll;
}

.box-title-playlist {
    width: 95%;
    margin: 0 auto;
    text-align: initial;
}

.playlist {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.playlist-w-img {
    width: calc(100% - 5px);
}

.box-playlist {
    width: calc(100% / 2);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 45px;
}

.box-stranger {
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*SECCION PLAYER*/
#progress {
    -webkit-appearance: none;
    width: 50%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

#player {
    display: flex;
    background-color: #282828;
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: 500;
}

.player-left {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
}

.player-left-box {
    display: flex;
    align-items: center;
}

.player-img {
    width: 50px;
    height: 50px;
}

.fz-12 {
    font-size: 12px;
}

.fz-10 {
    font-size: 10px;
}

.player-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
}

.player-middle-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-right {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    justify-content: flex-end;
}

/*FONT COLOR*/
.whitesmoke {
    color: #76797d;
}

.white {
    color: white;
}

.bold {
    font-weight: bold;
}

/* BG COLOR */

/* MARGIN - PADDING*/

.mx-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-tb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/***********************************************************
QUERY: BETWEEN MOBILE AND TABLET                  
***********************************************************/
@media all and (min-width: 577px) {
    #main {
        display: flex
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        width: 30vw;
        /*DEBUG*/
        background: black;
    }

    .nav-desktop-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 10px;
        gap: 10px;
    }

    .img-desktop-logo {
        width: 140px;
        margin-bottom: 15px;
    }

    .item-box {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .img-desktop {
        width: 25px;
    }

    .content {
        height: 90vh;
        width: 70vw;
        /*DEBUG*/
        background: #141922;
    }

    .box-nav-bar {
        font-size: 10px;
    }

    section.multimedia-content {
        width: 70vw;
        height: 76vh;
        overflow-y: scroll;
    }

    .playlist {
        width: 95%;
        margin: 0 auto;
        display: flex;
    }

    .box-playlist {
        width: calc(100% / 2);
    }
}


/***********************************************************
QUERY: TABLET                  
***********************************************************/
@media all and (min-width: 768px) {
    #main {
        display: flex
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        width: 30vw;
        /*DEBUG*/
        background: black;
    }

    .nav-desktop-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 10px;
        gap: 10px;
    }

    .img-desktop-logo {
        width: 140px;
        margin-bottom: 15px;
    }

    .item-box {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .img-desktop {
        width: 25px;
    }

    .content {
        height: 90vh;
        width: 70vw;
        /*DEBUG*/
        background: #141922;
    }

    .box-nav-bar {
        font-size: 10px;
    }

    section.multimedia-content {
        width: 70vw;
        height: 79vh;
        overflow-y: scroll;
    }

    .playlist {
        width: 95%;
        margin: 0 auto;
        display: flex;
    }

    .box-playlist {
        width: calc(100% / 4);
    }
}

/***********************************************************
QUERY: DESKTOP                    
***********************************************************/
@media all and (min-width: 1025px) {

    #main {
        display: flex
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        width: 17vw;
        /*DEBUG*/
        background: black;
    }

    .nav-desktop-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 10px;
        gap: 10px;
    }

    .img-desktop-logo {
        width: 140px;
        margin-bottom: 15px;
    }

    .item-box {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .img-desktop {
        width: 25px;
    }

    .content {
        height: 90vh;
        width: 83vw;
        background: #141922;
    }

    .box-nav-bar {
        font-size: 10px;
    }

    section.multimedia-content {
        width: 83vw;
        height: 79vh;
        overflow-y: scroll;
    }

    .playlist {
        width: 95%;
        margin: 0 auto;
        display: flex;
    }

    .box-playlist {
        width: calc(100% / 6);
    }
}