@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/***********************************************************
MOBILE FIRST                       
***********************************************************/
.mobile-nav {
    height: 85vh;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*DEBUG*/
    background: black;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***********************************************************
QUERY: DESKTOP                    
***********************************************************/
@media all and (min-width: 1025px) {

    .desktop-nav {
        height: 85vh;
        width: 15%;
        /*DEBUG*/
        background: pink;
    }
}